.header__lang-link {
  margin: 0;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;

}

.header__lang-link:hover {
  opacity: .8;
  transition: opacity .2s linear;
}

.header__lang-link:last-child {
  text-decoration: none;
  justify-self: end;
  padding-left: 18px;
  margin-right: 48px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

  .header__lang-link:last-child {
    margin-right: 16px;
  }
}