.photo-grid {
  padding: 92px 48px 0 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  background-color: #2A2C2F;
}
