.place__paragraph {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  max-height: max-content;
}

.place__paragraph:nth-child(odd) {
  margin-bottom: 26px;
  }