.lead__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__image {
    min-width: 320px;
    min-height: 200px;
  }
}