
.place {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  align-items: stretch;
  justify-items: stretch;
  column-gap: 40px;
  padding-bottom: 80px;
  flex-wrap: wrap;
}

.place:last-child {
  padding-bottom: 0;
}