.header__lang-links {
  margin-right: 48px;

}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .header__lang-links {
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header__lang-links {
    margin-right: 16px;
    margin-bottom: 8px;
  }
}