.place__website {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__website {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 340px) {
  .place__website {
  margin-left: 16px;
  }
}